<?php

use Retrowaver\Allegro\REST\Token\Credentials;

return [
    'credentials' => new Credentials([
        'clientId' => '...',
        'clientSecret' => '...',
        'redirectUri' => '...'
    ]),
    'accessToken' => '...' // for authorization code flow only
];
